.events-section {
  background: #f9fbfd;
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
}

.event-card {
  padding: 1.5rem;
  border: none;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.event-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
