.new-here-container {
  background-color: #ffffff;
}

.image-card img,
.carousel img {
  border-radius: 1rem;
  object-fit: cover;
  height: 100%;
}

.img-wrapper {
  transition: transform 0.3s ease;
}

.carousel-indicators [data-bs-target] {
  background-color: #0d6efd;
}

@media (max-width: 768px) {
  .img-wrapper {
    margin-top: 1rem;
  }
}
